<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Mi aplicación ASP.NET</title>
    @*@Styles.Render("~/Content/css")*@
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/MyMainLayOut.css" rel="stylesheet" />

    @Scripts.Render("~/bundles/modernizr")

</head>
<body>

    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-6 col-xs-6">
                <div class="logo">
                    <h1><a href="#">Proyecto <span>EcoFit</span></a></h1>
                    <p>Tienda Online</p>
                </div>
            </div>

            <div class="col-md-6 col-sm-6 col-xs-6">
                <div class="account">
                    <ul>
                        <li>
                            <div class="hidden-xs">
                                <h4><a>¡Llámanos!</a></h4>
                                <p>(+569)-987654321</p>
                            </div>
                            <div class="visible-xs">
                                <p>(+569)-987654321</p>
                            </div>
                        </li>
                    </ul>

                </div>
            </div>
        </div>
        <div class="row">

            <div class="col-md-12">
                <div class="nav-menus">
                    <ul class="nav nav-pills">
                        @*Estructura Básica de NavBar Proyecto EcoFit (REVISAR Y ESTABLECER ENLACES PERTIENNTES + PARTE SCAR)*@
                        <li class="active"><a style="border-radius:initial;" href="#">Página Principal</a></li>
                        <li><a style="border-radius:initial;" href="#">Ubicación*</a></li>
                        <li><a style="border-radius:initial;" href="#">Sobre Nosotros</a></li>
                        <li><a style="border-radius:initial;" href="#">Login</a></li>
                        <li><a style="border-radius:initial;" href="#">Register</a></li>
                    </ul>
                </div>
            </div>
        </div>

        @RenderBody()
        <hr />
        <footer>
            <div class="row">
                <div class="col-md-12 copyright">
                    <div class="col-md-6 col-sm-6 copyright-left">
                        <p>&copy; @DateTime.Now.Year - Tienda Proyecto EcoFit. Todos los Derechos Reservados</p>
                    </div>

                    <div class="col-md-6 col-sm-6 copyright-right">
                        <ul class="list-unstyled list-social">
                            <li><a href="#" target="_blank"><i class="fa fa-facebook-square"></i></a></li>
                            <li><a href="#" target="_blank"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#" target="_blank"><i class="fa fa-google-plus"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>

        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

</body>
</html>

